# --- Procesamiento de modelos IFC ---
ifcopenshell

# --- Inteligencia Artificial ---
openai
google-generativeai

# --- Manipulación y análisis de datos ---
pandas
openpyxl
tabulate
xlsxwriter

# --- Geometría y análisis espacial ---
shapely
pyproj
geopandas
geojson

# --- Visualización de datos ---
streamlit
plotly
folium
streamlit-folium

# --- Exportación e informes ---
reportlab

# --- Utilidades ---
python-dotenv
